<!--Yaksh Shah-->
<!-- This is the HTML acknowledgement file that will be executed when the submit button on the survey page is clicked. -->
<meta charset="ISO-8859-1">
<html>

<title>Acknowledgement</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
 
<div style="background-color: #006633 ">
  <img class="d-block mx-auto " src="/assets/images/logo_gmu.png" alt="George Mason Logo  " width="250" height="150">
</div>
  <div class="container">
    <h2 class="py-2 text-center custom-style">Your form has been submitted successfully.</h2> 
    <body >
      <img class="d-block mx-auto " src="/assets/images/acknowledge_thankyou.png" alt="Acknowledgement Logo  ">
            <a routerLink="/survey">Student Survey Form</a> <br>
            <a routerLink="/list">List all of the surveys that were submitted.</a><br>

    </body>
    </div>
  

</html>