<!-- Vyshnavi Mamidala -->
<!-- This is the HTML header file that serves as the assignment's landing page. Two links are included. Form for student surveys and a list of all surveys-->
<div style="background-color: #006633 ">
  <img class="d-block mx-auto " src="/assets/images/logo_gmu.png" alt="George Mason Logo  " width="300" height="200">
</div><br>

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<h1 style="margin-left: 10px; border: 5px solid green; border-style: solid; box-shadow: 5px 10px 8px green; padding-left: 40%;">
  SWE 645 Assignment 3
</h1>
<br>
<h2 style="text-align: center;">To complete the student surveys or to view all of the surveys, click on the links below:</h2>
<div class="w3-container">
         
  <a routerLink="/survey">Student Survey Form</a> <br>
  <a routerLink="/list">List all of the surveys that were submitted.</a><br>
   
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<h3 style="margin-left: 10px; border: 5px solid yellow; border-style: solid;">
  Team Members:  Team Members: Manankumar Thakkar (G01340764), Yaksh Kiran Shah (G01254574), Vineet Kasat (G01283897), Vyshnavi Reddy (G01323466), Shrushitha Bodanam (G01348656)
</h3>

